<!-- NAV FOOTER DESKTOP -->
<div class="col-12 fixed-bottom navbBlack text-center" id="navBottomDesktop">
    <div class="linkCopirighFooter"><a href="#" class="linkCopirighFooter">Copiright © 2018</a></div>
</div>

<!-- NAV FOOTER MOBIL -->
<div class="col-12 fixed-bottom navbBlack text-center" id="navBottomMobil">
    <div class="row">
        <div class="col-4 text-center">
            <a href="{{ path('app_home_index') }}" class="pictoFooter"><i class="fas fa-home fa-2x"></i></a>
        </div>
        <div class="col-4 text-center">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_trick_add') }}" class="pictoFooter"><i class="fas fa-plus-square fa-2x"></i></a>
        {% else %}
            <a href="{{ path('app_home_index') }}" class="pictoFooter"><i class="fas fa-bookmark fa-2x"></i></a>
        {% endif %}
        </div>
        <div class="col-4 text-center">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('logout') }}" class="pictoFooter"><i class="fas fas fa-sign-out-alt fa-2x"></i></a>
            {% else %}
                <a href="{{ path('app_user_register') }}" class="pictoFooter"><i class="fas fa-sign-in-alt fa-2x"></i></a>
            {% endif %}

        </div>
    </div>
</div>
