{% extends 'base.html.twig' %}
{% block title %}SnowTricksOC - Modification{% endblock %}
{% block css  %}<link rel="stylesheet" href="{{ asset('custom/trick/style.css') }}">{% endblock %}
{% form_theme form _self %}
{# form_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <small class="form-text invalid ">
                        {{ error.message }}
                    </small>

                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
{% block content %}
    <div class="container containerHeaderTrick">
        <div class="jumbotron jumbotron-fluid jumbotronHeaderTrick">
            <div class="container titleContainer">
                <div class="titleTrick">
                    <h1 class="display-4">Ajouter une figure</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {{ form_start(form, {'attr':{'class':'form-signin','novalidate':'novalidate'}}) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr' : {'class': 'form-control'}}) }}
        {{ form_errors(form.name, {'attr' : {'class': 'form-text text-muted'}}) }}
        {{ form_row(form.description) }}
        {{ form_row(form.family) }}
        {{ form_row(form.image) }}
        <ul id="video-fields-list"
                data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}">
            {% for videoField in form.videos %}
                <li>
                    {{ form_errors(videoField) }}
                    {{ form_widget(videoField) }}
                </li>
            {% endfor %}
        </ul>

        <button type="button"
                class="add-another-collection-widget"
                data-list="#video-fields-list">Ajouter une autre video.</button>
        <button type="submit">Envoyer</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block script %}
    <script>
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list'));
                // Try to find the counter of the list
                var counter = list.data('widget-counter') | list.children().length;
                // If the counter does not exist, use the length of the list
                if (!counter) { counter = list.children().length; }

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data(' widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });
    </script>
{% endblock %}
