{% extends 'base.html.twig' %}
{% block title %}SnowTricksOC - Modification{% endblock %}
{% block css  %}<link rel="stylesheet" href="{{ asset('custom/trick/style.css') }}">{% endblock %}
{% form_theme form _self %}
{# form_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <small class="form-text invalid ">
                        {{ error.message }}
                    </small>

                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
{% block content %}
    <div class="container containerHeaderTrick">
        <div class="jumbotron jumbotron-fluid jumbotronHeaderTrick">
            <div class="container titleContainer">
                <div class="titleTrick">
                    <h1 class="display-4">Ajouter une figure</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container content">
        {{ form_start(form, {'attr':{'class':'form-signin','novalidate':'novalidate'}}) }}

        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr' : {'class': 'form-control'}}) }}
        {{ form_errors(form.name, {'attr' : {'class': 'form-text text-muted'}}) }}
        <br/>
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr' : {'class': 'form-control'}}) }}
        {{ form_errors(form.description, {'attr' : {'class': 'form-text text-muted'}}) }}
        <br/>
        {{ form_label(form.family) }}
        {{ form_widget(form.family, {'attr' : {'class': 'form-control'}}) }}
        <br/>
        {{ form_label(form.pictures) }}
        {{ form_widget(form.pictures, {'attr' : {'class': 'form-control'}}) }}
        {{ form_errors(form.pictures, {'attr' : {'class': 'form-text text-muted'}}) }}
        <br/>
        {{ form_label(form.videos) }}
        <div class="videos col-12" data-prototype="{{ form_widget(form.videos.vars.prototype.url, {'attr' : {'class': 'form-control'}})|e('html_attr') }}">
            {{ form_widget(form.videos) }}
        </div>
        <button type="submit" class="btn btn-block btn-outline-success">Ajouter ce trick</button>

        {{ form_end(form) }}

    </div>

{% endblock %}
{% block script %}
<script>
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagButton = $('<button type="button" class="add_tag_link btn btn-sm btn-outline-primary"><i class="far fa-plus-square"></i> Ajouter un lien</button>');
    var $newLinkLi = $('<div style="padding-top:5px; padding-bottom:20px;"></div>').append($addTagButton);

    $(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('div.videos');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // add a delete link to all of the existing tag form li elements
        $collectionHolder.find('li').each(function() {
            addTagFormDeleteLink($(this));
        });

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagButton.on('click', function(e) {
            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });
    });

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        var newForm = '<div class="col-md-10">' + prototype + '</div>';
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, afetr the "Add a tag" link li
        var $newFormLi = $('<row><row>').append(newForm);
        $newLinkLi.after($newFormLi);

        // add a delete link to the new form
        addTagFormDeleteLink($newFormLi);
    }

    function addTagFormDeleteLink($tagFormLi) {
        var $removeFormButton = $('<div class="col-md-1" style="padding-bottom:20px; padding-top:10px;"><button class="btn btn-outline-danger btn-sm " type="button"><i class="far fa-trash-alt"></i>\n' +
            '\n Supprimer ce lien</button></div>');
        $tagFormLi.append($removeFormButton);

        $removeFormButton.on('click', function(e) {
            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }
</script>
{% endblock %}
