{% extends 'base.html.twig' %}
{% block title %}SnowTricksOC - Acceuil{% endblock %}
{% block css  %}<link rel="stylesheet" href="{{ asset('custom/trick/style.css') }}">{% endblock %}
{% block content %}
   <div class="container containerHeaderTrick">
       <div class="jumbotron jumbotron-fluid jumbotronHeaderTrick" style="background-image: url({{ trick.listingPicture.name }});">
       <div class="container titleContainer">
           <div class="titleTrick">
               <h1 class="display-4">{{ trick.name }}</h1>
           </div>
       </div>
   </div>
       <div class="container">
           <div class="scrolling-wrapper">
               {% for pic in pics %}
                   <div class="card"><img class="media" src="{{ pic.name }}" alt=""></div>
                   <div class="card"><img class="media" src="{{ pic.name }}" alt=""></div>
                   <div class="card"><img class="media" src="{{ pic.name }}" alt=""></div>
                   <div class="card"><img class="media" src="{{ pic.name }}" alt=""></div>
               {% endfor %}
               {% for vid in vids %}
                   <div class="card">{{ vid.url | raw }}</div>
               {% endfor %}


           </div>
        </div>
   </div>

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            $('.card > iframe').attr('height', '125');
            $('.card > iframe').attr('width', '200');
        });
    </script>
{% endblock %}
