{% extends 'base.html.twig' %}
{% block title %}SnowTricksOC - Réinitialiser le Mot de Passe{% endblock %}
{% form_theme form _self %}
{# form_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <small class="form-text invalid ">
                        {{ error.message }}
                    </small>

                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
{% block content %}
    <div class="spacertop50"></div>
    <div class="container">
        <div class="col-12 text-center">
            <div class="offset-xl-3 col-xl-6 offset-sm-0 col-sm-12">
                <h1 class="h3 mb-3 font-weight-normal">Réinitialiser le Mot de Passe:</h1>
                <hr>
                {{ form_start(form, {'attr':{'class':'form-signin', 'novalidate':'novalidate'}}) }}
                <div class="form-group">
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors(form.plainPassword.first, {'attr' : {'class': 'form-text text-muted'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, {'attr' : {'class': 'form-control'}}) }}
                    {{ form_errors(form.plainPassword.second, {'attr' : {'class': 'form-text text-muted'}}) }}
                </div>
                <button type="submit" class="btn btn-outline-secondary btn-lg">Connection !</button>
                {{ form_end(form) }}
            </div>
            <div class="spacertop25"></div>
        </div>
    </div>
{% endblock %}